.body {
  background-color: darkgray;
}

.h1 {
  color: coral;
  font-size: 60px;
  text-align: center;
}

.contenedor-h2 {
  color: coral;
  font-size: 20px;
  text-align: center;
}

.header {
  padding: 20%;
  background-image: url("imagenes/bmw-s1000rr-2023.jpeg");
  background-size: cover;
}

.listas {
  font-weight: bold;
  list-style: none;
  text-align: center;
}
.home {
  height: 8vh;
  font-size: 30px;
}
.contact {
  height: 8vh;
  font-size: 30px;
}
.help {
  height: 8vh;
  font-size: 30px;
}

.contenedor-botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  /* mueve los botones de arriba abajo */
}

.botones {
  display: inline-block;
  margin: 5px;
  padding: 100px 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

p {
  margin: 5px 0;
  font-size: 14px;
}
